.connections{
  display: flex;
  flex-wrap:  wrap;
  margin: 15px 35px;
  justify-content: flex-start;
}

.members-list{
  display: flex;
  margin-left: 25px;
}

.member{
  margin-left: 30;
  text-align:left;
  font-size: 16px;
}

.member-decorator{
  margin-left: 0px;
  margin-right: 0px;
}

.button-text-title{
  font-size: 20px;
  font-weight: bold;
}

.button-text{
  font-size: 20px
}

.connections-list{
margin-right: 35px;
margin-left: 10px;
padding-left: 10px;
padding-right: 10px;
background-color: #117fc2;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
color: #FFFFFF;
font-size: 20px;
border: solid #117fc2 0px;
text-decoration: none;
display: inline-block;
cursor: pointer;
}

.connections-list:hover {
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  text-decoration: none;
  }