.update-wrapper {
  margin: 25px 120px;
}

.update-date {
  display: block;
  text-align: end;
  margin-right: 45px;
  font-weight: bold;
  font-size: 20px;
}

.update-title {
  font-weight: bold;
}

.update-subtitle {
  font-weight: bold;
}

.update-text {
  font-size: 16px;
  text-align: justify;
}
