.utils-list {
  margin-bottom: 45px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.util-wrapper {
  margin-right: 75px;
  margin-bottom: 25px;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #117fc2;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #ffffff;
  font-size: 25px;
  border: solid #117fc2 0px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.util-wrapper:hover {
  background-color: #ff9900;
  text-decoration: none;
}

.util-wrapper:hover {
  color: white;
  cursor: pointer;
}

.util-text-wrapper {
  margin-left: 45px;
  margin-right: 45px;
  font-size: 16px;
}

ul {
  display: flex;
  -webkit-padding-start: 20px !important;
}

.photo-item {
  margin-left: 30px;
}

.photo-number {
  margin-right: 10px;
  font-weight: bold;
  font-size: 30px;
  vertical-align: top;
}

.img {
  height: 400px;
  cursor: pointer;
}
