.navLink{
  text-decoration: none;
  font-size: 30px;
  color: blue;
  margin:auto;
}

.navLink:hover{
  color: purple;
}

.menu-bar{
  display: flex;
  margin-top: 70px;
  width: 60%;
  margin-left: 20%;
}

.selected{
  text-decoration: none;
  font-weight: bold;
  color: white !important;
}
