.navlink{
  text-decoration: none;
  font-size: 25px;
  color: white;
  background-color: #FF9900;
  padding: 35px 40px;
  margin-left: 20px;
  border-radius: 15px;
  line-height: 25px;
  vertical-align: bottom;
}

.navLink:hover{
  background-color: #f9ab36;
}

.first-navlink{
  margin-left: 45px;
}

.text-alignment{
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -30px;
}
.menu-bar{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.selected{
  text-decoration: none;
  color: white !important;
  background-color: #117fc2;
}

.logo{
  height: 100px;
  margin-left: 70px;
  margin-top: 30px;
}

.logo-wrapper{
  width:100%;
  text-align: left;
}

.banner{
  position: fixed;
  right: 20px;
  top: 15px;
  background-color: #117fc2;
  color:white;
  max-width: 622px;
}

.banner-text{
  font-weight: bold;
  font-size: 15px;
}